{% extends 'includes/base.html' %}

{% block title %}PAIFNet | Suporte {% endblock %}
{% block extra_css %}
    {% load static %}
    <link href="{% static 'css/form-suporte/form-suporte.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
    <br>
    <h4>Preencha o formulário, para que possamos lhe ajudar</h4>
    <div class="container-suporte">
        <div class="input-table">
            <form method="POST">
                {% csrf_token %}
                <div class="table-row">
                    <div class="input-label">
                        <label for="nome">Nome:</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                    </div>
                </div>
                <div class="table-row">
                    <div class="input-label">
                        <label for="email">Email:</label>
                    </div>
                    <div class="input-field">
                        <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                    </div>
                </div>
                <div class="table-row">
                    <div class="input-label">
                        <label for="telefone">Telefone:</label>
                    </div>
                    <div class="input-field">
                        <input type="tel" id="telefone" name="telefone" placeholder="Digite seu telefone" required>
                    </div>
                </div>
                <div class="table-row">
                    <div class="input-label">
                        <label for="problema">Relate o Problema:</label>
                    </div>
                    <div class="input-field">
                        <textarea id="problema" name="problema" placeholder="Descreva o problema..." required></textarea>
                    </div>
                </div>
                <div class="submit-row">
                    <button type="submit">Enviar</button>
                   
                    <a href="{% url 'suporte' %}">
                        Voltar
                      </a> 
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
